<h1 mat-dialog-title>Choose the name for the new rules file</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field style="width:100%;">
      <input matInput placeholder="Filename" [(ngModel)]="filename" [ngModelOptions]="{standalone: true}">
      <mat-hint>Do not include ".json" extension !</mat-hint>
    </mat-form-field>
    <mat-checkbox style="padding-top:30px;" [(ngModel)]="useTemplate" [labelPosition]="before" [ngModelOptions]="{standalone: true}">
        Create with predefined template
    </mat-checkbox>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-flat-button 
    (click)="cancel()"
    color="secondary">Cancel
  </button>
  <button mat-flat-button 
    (click)="onConfirm()" 
    [disabled]="filename.length == 0" 
    color="primary">Next
  </button>
</div>
