mat-toolbar {
  margin-top: 1%;
  margin-bottom: 1%;
  height: 10%;
}

#new-rules-button {
  margin-right: 5px;
}

#rules-editor-container {
  overflow-y: auto;
  margin: 0;
  height: 100%;
  padding-left: 1%;
  padding-right: 1%;
}

#ace-container {
  /* min-height: 80vh; */
  margin: 0;
  padding: 0;
  height: 84%;
}

.example-spacer {
  flex: 1 1 auto;
}

.toolbar-margin {
  margin: 16px;
}