<div id="generic-table-container">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID  </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id | slice:0:10}}  </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="timestamp">
        <mat-header-cell *matHeaderCellDef> Time  </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.timestamp}}  </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="level">
        <mat-header-cell *matHeaderCellDef> Level  </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.level.name}}  </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> Type  </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.logType.name}}  </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="ruleType">
        <mat-header-cell *matHeaderCellDef> Rule Type  </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.signature}}  </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="field">
        <mat-header-cell *matHeaderCellDef> Field  </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.field}}  </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="matchedTotal">
        <mat-header-cell *matHeaderCellDef> Matched/Total  </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.matched}} / {{element.total}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="info">
        <mat-header-cell *matHeaderCellDef> Info  </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.info}}  </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>