<mat-toolbar color="primary">
  <span>{{title}}</span>
</mat-toolbar>
<mat-tab-group mat-stretch-tabs mat-align-tabs="center" animationDuration="300ms" dynamicHeight>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">file_copy</mat-icon>
      <h4>Rules Editor</h4>
    </ng-template>
    <app-rules-editor [(filename)]="rulesFile" [(fileContent)]="rulesContent"></app-rules-editor>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">settings</mat-icon>
      <h4>Configuration Editor</h4>
    </ng-template>
    <app-config-editor [(filename)]="configFile" [(fileContent)]="configContent"></app-config-editor>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">dashboard</mat-icon>
      <h4>Dashboard</h4>
    </ng-template>
    <app-dashboard (launch)="handleLaunch($event)" [errorMsg]="errorMsg" [loading]="loading" [launchResult]="launchResult"></app-dashboard>
  </mat-tab>
</mat-tab-group>