mat-toolbar {
  margin-top: 1%;
  margin-bottom: 1%;
  height: 10%;
}

#dashboard-container {
  overflow-y: auto;
  margin: 0;
  height: 100%;
  padding-left: 1%;
  padding-right: 1%;
}

.example-spacer {
  flex: 1 1 auto;
}

.toolbar-margin {
  margin: 16px;
}

.spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 50%;
  right: 50%;
  /* or: left: 50%; */
}

table {
  width: 100%;
}

mat-expansion-panel {
  margin-bottom: 0.2%;
  background: rgba(0, 0, 0, 0.05);
}

#error-card {
  background: #f91a00;
  color: white;
}

#info-card {
  margin-bottom: 5px;
  background: green;
  color: white;
}

#exec-log-paragraph {
  white-space: pre-wrap;
  background: black;
  color: white;
  font-family: monospace;
  font-size: smaller;
}

#logs-expansion-panel > .mat-expansion-panel-body {
  padding-left: 5px;
  padding-right: 5px;
}

#rule-logs-expansion-panel > .mat-expansion-panel-body {
  padding-left: 5px;
  padding-right: 5px;
}