<div id="dashboard-container">
  <mat-toolbar>
    <h3>Launch BDQ Execution</h3>
    <span class="example-spacer"></span>
    <button mat-mini-fab color="primary" (click)="launcherClick()">
      <mat-icon aria-label="Launch BDQ">launch</mat-icon>
    </button>
  </mat-toolbar>
  <!-- ACCORDION -->
  <div *ngIf="loading">
    <mat-card id="info-card"><strong>Waiting for BDQ component execution to finish</strong></mat-card>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <!-- <mat-spinner class="spinner" *ngIf="loading"></mat-spinner> -->
  <mat-card id="error-card" *ngIf="errorMsg.length > 0 && !loading"><strong>{{errorMsg}}</strong></mat-card>
  <mat-accordion *ngIf="!loading && launchResult != null" multi="true">
    <!-- GENERIC INFO PANEL -->
    <mat-expansion-panel #genericInfoPanel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Summary
        </mat-panel-title>
        <mat-panel-description>
          Summary statistics about the execution.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- SUMMARY CONTENT -->
      <mat-list>
        <h3 mat-subheader>Execution State</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>local_hospital</mat-icon>
          <div mat-line>
            <mat-chip-list>
              <mat-chip>{{launchResult.execState}}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
        <h3 mat-subheader>Execution Times</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>today</mat-icon>
          <div mat-line>
            <mat-chip-list>
              <mat-chip>{{launchResult.start | date: 'full'}}</mat-chip>
              <mat-chip>{{launchResult.start}}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>timer</mat-icon>
          <div mat-line>
            <mat-chip-list>
              <mat-chip>{{launchResult.execTime}}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Files Path</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>file_copy</mat-icon>
          <div mat-line>
            <mat-chip-list>
              <mat-chip>{{launchResult.rulesPath}}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>settings</mat-icon>
          <div mat-line>
            <mat-chip-list>
              <mat-chip>{{launchResult.configPath}}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
    <!-- GENERIC LOGS -->
    <mat-expansion-panel id="logs-expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Logs
        </mat-panel-title>
        <mat-panel-description>
          Information about the execution of the bdq component
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p *ngIf="launchResult.alerts.length == 0">No alerts received.</p>
      <app-generic-logs-pane *ngIf="launchResult.alerts.length > 0" [logs]="launchResult.alerts"></app-generic-logs-pane>
    </mat-expansion-panel>
    <!-- RULE LOGS -->
    <mat-expansion-panel id="rule-logs-expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Rules Application
        </mat-panel-title>
        <mat-panel-description>
          Information about the outcome of applying the rules.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p *ngIf="launchResult.alerts.length == 0">No alerts received.</p>
      <app-rule-logs-pane *ngIf="launchResult.alerts.length > 0" [logs]="launchResult.alerts"></app-rule-logs-pane>
    </mat-expansion-panel>
    <!-- EXECUTION LOG -->
    <mat-expansion-panel #executionLog>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Execution Console
        </mat-panel-title>
        <mat-panel-description>
          Logs of the BDQ componente execution
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p id="exec-log-paragraph">{{launchResult.execLog}}</p>

    </mat-expansion-panel>
  </mat-accordion>
</div>