<input type="file" style="display:none" accept=".conf,.config" (click)="fileInput.value = null" (change)="fileSelected($event)" #fileInput>
<div id="config-editor-container">
  <mat-toolbar>
    <span *ngIf="filename.length == 0">No configuration file uploaded</span>
    <span *ngIf="filename.length > 0">{{filename}}</span>
    <span class="example-spacer"></span>
    <div *ngIf="filename.length > 0">
      <mat-slide-toggle color="primary" [checked]="!this.config.readOnly" (change)="toggleReadonly()">
      </mat-slide-toggle>
    </div>
    <mat-chip-list *ngIf="filename.length > 0" class="toolbar-margin">
      <mat-chip selected color="basic">{{editorMode}}</mat-chip>
    </mat-chip-list>
    <button id="new-config-button" mat-flat-button color="secondary" (click)="createNewFile()">Create</button>
    <button mat-flat-button color="primary" (click)="fileInput.click()">Load</button>
  </mat-toolbar>

  <div *ngIf="filename.length > 0" id="ace-container">
    <ace [config]="config" [(value)]="fileContent" (change)="onEditorChange()">
    </ace>
  </div>