/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body, html {
    height: 100%;
    margin: 0;
}

.mat-tab-body-wrapper {
    flex-grow: 1;
}