<div id="generic-table-container">
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="timestamp">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Timestamp </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.timestamp}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="level">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Level </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.level.name}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.logType.name}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="info">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Info </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.info}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>