#generic-table-container {
    overflow-x: auto;
    overflow-y: scroll;
    width: 100%;
    height: 300px;
    margin-top: 5px;
    margin-bottom: 5px
}

mat-table {
    width: 100%;
}

#table-logs {
    min-width: 100%;
}

#table-logs {
    min-width: 100%;
}

.mat-column-timestamp {
    flex: 0 0 175px;
}

.mat-column-level {
    flex: 0 0 60px;
}

.mat-column-type {
    flex: 0 0 70px;
}